
body {
	min-width: 1024px;
	background: #F1F5F9
}
.container {
	width: 970px;
}

h1, footer h3 {
	color: #D45650;
	font-weight: 600;
}

.navbar {
	margin: 0;
	text-align: center;
	padding: 10px 0;
}

header {
	background: #F1F5F9;
	border-bottom: 1px solid #dddddd;
}
header .header-logo {
	float: left;
	padding: 40px 0 20px;
}
header .header-logo + div{
	display: inline-block !important;
	float: right !important;
	z-index: 3 !important;
	padding-top: 30px !important;
}
header .nav-tabs {
	position: relative;
	bottom: -1px;
}
header .nav-tabs>li>a {
	padding: 15px 30px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: .05em;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	background: #E7ECF0;
}

main {
	background: #e7ecf0;
	background: -moz-linear-gradient(top, #e7ecf0 0%, #a3bccc 100%);
	background: -webkit-linear-gradient(top, #e7ecf0 0%,#a3bccc 100%);
	background: linear-gradient(to bottom, #e7ecf0 0%,#a3bccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7ecf0', endColorstr='#a3bccc',GradientType=0 );
	padding: 20px 0;
}
.card {
	background: #F2F2F2;
	border: 1px solid #B3B3B3;
	border-radius: 10px;
	padding: 10px;
	transition: background .2s ease-in;
}
.track-cards {
	list-style: none;
	padding: 0;
	margin-top: 40px;
}
.track-cards .card {
	text-align: center;
	margin: 30px 0;
	display: block;
}
a.card:hover {
	text-decoration: none;
	background: #E2E2E2;
}
.card-title {
	text-transform: uppercase;
	font-size: 15px;
	margin: .5em auto;
}
.flex-cards {
	display: flex;
	flex-wrap: wrap;
}
.flex-cards.two .card {
	width: 48%;
	margin: 1%;
}
.flex-cards.two .card p {
	font-size: 13px;
	margin-bottom: 15px;
}

.flex-cards.four .card {
	width: 23%;
	margin: 1%;
	align-items: center;
	justify-content: center;
	display: flex;
}
.flex-cards .card {
	padding: 20px;
}
.flex-cards .card img{
	width: 100%;
}
.card h5 {
	color: #D45650;
	font-size: 16px;
	font-weight: 600;
	margin-top: 0;
}
.flex-cards .card .btn-default {
	color: #1F9DD3;
}
.carousel {
	background: #F2F2F2;
	margin: 40px auto;
	padding: 0 50px;
}
.carousel .carousel-inner a {
	text-align: center;
	display: block;
	padding: 30px 10px;
	position: relative;
}
.carousel .carousel-inner a img {
	max-height: 80px;
	max-width: 100%;
}
.carousel .carousel-control {
	background: transparent;
	color: #666666;
	text-shadow: none;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold
}

/*main-content*/
.track-container {
	position: relative;
	height: 1052px
}
.layer {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	text-align: center;
	padding-bottom: 20px
}
.svg-box {
	max-height:100%;
	margin: 0 auto;
}
.casa {
	stroke-width:2;
	stroke:#FFFFFF;
	transition: opacity .2s ease-in;
}
.casa:hover {
	stroke-width:2;
	stroke:#3576a8;
	cursor: pointer;
}
.casa.oculta{
	opacity: .3;
}

.tip {
	position: absolute;
	background: #3576a8;
	text-align: center;
	border-radius: 20px;
	padding: 20px;
	color: #FFFFFF;
	color: rgba(255,255,255,.75);
	width: 320px;
	margin: 0;
	display: none;
	transform: translate(-50%, 0); 
	-webkit-transform: translate(-50%, 0); 
	font-size: 13px;
	box-shadow: 0 2px 4px rgba(0,0,0,.3)
}
.tip:after {
	content: "";
	position: absolute;
	bottom: -22px;
	left: calc(50% - 25px);
  border-top: 25px solid #3576a8;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  width: 0;
  height: 0;
}
.tip .help-text {
	display: block;
	border-top: 1px solid white;
	margin: 20px 0 -15px;
}
.tip .help-text strong {
	background: #3576a8;
	display: inline-block;
	padding: 2px 10px;
	position: relative;
	top: -12px;
	color: #FFFFFF
}

.tooltips .tip:first-child {
	left: 100px;
	top: -200px;
}
.tooltips .tip:nth-child(2) {
	left: 480px;
	top: -200px;
}
.tooltips .tip:nth-child(3) {
	left: 50%;
	top: 100px;
}
.tooltips .tip:nth-child(4) {
	left: 100px;
	top: 420px;
}
.tooltips .tip:nth-child(5) {
	left: 480px;
	top: 430px;
}
.tooltips .tip:nth-child(6) {
	left: 50%;
	bottom: 240px;
}
.tooltips .tip:nth-child(7) {
	left: 50%;
	bottom: 30%;
}
.tooltips .tip:nth-child(8) {
	right: -80px;
	bottom: 30%;
}


.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
}
.modal-content {
	border-radius: 22px;
}
.modal-header {
	background: #3576A8;
	color: #FFFFFF;
	border-radius: 20px 20px 0 0;
	padding: 30px 40px 0;
}
.modal-header p {
	color: rgba(255,255,255,.5);
}
.modal-header .close {
	color: #FFFFFF;
	font-size: 30px;
}
.modal-title {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 28px;
	margin-bottom: 10px;
}
.modal-header .nav-tabs {
	border-bottom: none;
	margin: 20px auto 0
}
.modal-header .nav-tabs>li>a {
	text-transform: uppercase;
	color: #FFFFFF;
	color: rgba(255,255,255,.5);
	padding: 15px 30px;
}
.modal-header .nav-tabs>li>a, .modal-header .nav-tabs>li>a:hover, .modal-header .nav-tabs>li>a:visited, .modal-header .nav-tabs>li>a:link, .modal-header .nav-tabs>li>a:active {
	border: none;
	border-bottom: 4px solid transparent;
}
.modal-header .nav-tabs>li>a:hover {
	background: transparent;
	color: #FFFFFF;
	cursor: pointer;
}
.modal-header .nav-tabs>li.active>a {
	border-bottom: 4px solid #FFFFFF;
	background: transparent;
	color: #FFFFFF;
	font-weight: 700;
}
.modal-body {
	background: #E6E6E6;
	border-radius: 0 0 20px 20px;
	padding: 20px 30px;
	overflow: auto;
	max-height: 55vh;
}

article {
	text-align: center;
}
article p {
	font-size: 18px;
	line-height: 1.5em;
	margin-bottom: 2em;
}
article .subtitle {
	font-style: italic;
	font-size: 22px;
	color: #999
}
article h1 {
	margin-bottom: 5px;
}
main article .container {
	width: 740px;
	min-width: 740px;
	padding: 30px 0;
}
article .caption {
	font-style: italic;
	font-size: 18px;
	padding: 10px 0;
}


.contact-form {
	padding: 40px 0;
}
.contact-form h1 {
	margin: 0 auto 1em;
}
.contact-form .form-group {
	margin-bottom: 20px
}
.contact-form textarea {
	resize: vertical;
	min-height: 34px;
	max-height: 300px
}


footer {
	background: #4D4C4C;
	padding: 20px 0;
}
footer .img-responsive {
	padding: 50px 0 0;
	float: right;
}
footer a {
	color: #999999;
}
footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
}